<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> eace544 (Started working on implementation of proper login with JWT and save the token using local storage.)
﻿@using Models.Login;
@using Models.Jwt;
@using Services;
@inject HttpClient httpClient;
@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ILocalStorageService localStorage;
<<<<<<< HEAD
<<<<<<< HEAD
=======
﻿@using Models.ViewModels;
@inject HttpClient httpClient;
>>>>>>> 59fd1c9 (Added files which weren't tracked during the last commit.)
=======
>>>>>>> eace544 (Started working on implementation of proper login with JWT and save the token using local storage.)
=======
@inject CustomAuthenticationStateProvider AuthStateProvider; 
>>>>>>> 2183ccc (Added files which were supposed to be added in the last commit.)

<EditForm Model="@LoginViewModel" OnValidSubmit="HandleLogin">
	<div class="container">
		<DataAnnotationsValidator />

		<h1>Login</h1>
		<div class="form-group">
			<label for="UserName">Username:</label>
			<InputText class="input" id="UserName" @bind-Value="LoginViewModel.UserName" />
			<ValidationMessage For="@(() => LoginViewModel.UserName)" />
		</div>

		<div class="form-group">
			<label for="password">Password:</label>
			<InputText class="input" id="password" type="password" @bind-Value="LoginViewModel.Password"/>
			<ValidationMessage For="@(() => LoginViewModel.Password)" />
		</div>

		<button type="submit" class="btn login-btn">Log In</button>

		@if (!string.IsNullOrEmpty(Message))
		{
			<p>@Message</p>
		}

		<div class="form-group sign-up-group">
			<p>Don't have an account?</p>
			<button type="button" class="btn signup-btn" @onclick="GoToSignUp">Sign up</button>
		</div>
	</div>

</EditForm>

@code {
	[SupplyParameterFromForm]
	private LoginViewModel LoginViewModel { get; set; } = new LoginViewModel();
	private string? Message;

	private async Task HandleLogin()
<<<<<<< HEAD
	{
		var response = await httpClient.PostAsJsonAsync("https://localhost:7206/auth/login", new
		{
			Username = LoginViewModel.UserName,
			Password = LoginViewModel.Password
		});
=======
	{
		var response = await httpClient.PostAsJsonAsync("")

<<<<<<< HEAD

		var isSuccess = await MockApiLogin(LoginViewModel.UserName, LoginViewModel.Password);
>>>>>>> 59fd1c9 (Added files which weren't tracked during the last commit.)

=======
>>>>>>> eace544 (Started working on implementation of proper login with JWT and save the token using local storage.)
		if (response.IsSuccessStatusCode)
		{
			var result = await response.Content.ReadFromJsonAsync<LoginResponse>();
			if(result != null)
			{
				await AuthStateProvider.Login(result.Token); // Use AuthStateProvider to store JWT and update authentication state

				Message = "Login successful!";
				Navigation.NavigateTo("/"); // Redirect after login
			}
		}
		else
		{
			Message = "Invalid username or password.";
		}
	}

	public void GoToSignUp()
	{
		//Navigate to sign-up page
	}
}
