<div class="container">
	<img class="imgBackground" src="/notAllowed.svg" asp-append-version="true" width="300px" />
	<div>
		<p class="notAuhtorizedMessage">Sorry, but you're not authorized to view this page!</p>
	</div>
	<div>
		<NavLink href="/">Click here to log in</NavLink>
	</div>
</div>
@code {

}
