<div class="container">
	<img class="imgBackground" src="/stop.png" asp-append-version="true" width="300px" />
	<div>
		<p class="notAuhtorizedMessage">You need to log in to view this page!</p>
	</div>
	<div>
		<NavLink href="/login" class="logIn">Click here to log in</NavLink>
	</div>
</div>
@code {

}
