<div class="container">
	<img class="imgBackground" src="/please_log_in.png" asp-append-version="true" width="300px" />
	<div>
		<p class="notAuhtorizedMessage">You need to log in to view this page!</p>
	</div>
	<div>
		<NavLink href="/" class="logIn">Click here to log in</NavLink>
	</div>
</div>
@code {

}
