<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Users)
        {
            <tr>
                <td>@user.Username</td>
                @* <td>@user.Email</td> *@
                <td>@user.Role</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => OnEdit.InvokeAsync(user.Id))">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@code {
    // EventList takes a list of event objects as parameter to be displayed
    [Parameter]
    public List<User> Users { get; set; } = [];

    // Callback that is called when the user clicks the Edit button for an event.
    // This callback takes the event ID as a parameter and can be used to handle
    // editing of the event in the parent component.
    [Parameter]
    public EventCallback<string> OnEdit { get; set; }

}
