@page "/events"
@using EventManager.Client.Components.Admin
@inject NavigationManager NavigationManager
<h1>Manage Events</h1>

@if(!showForm){
    <EventList Events="events" OnEdit="HandleEdit"/>
    <button class="btn btn-primary" @onclick="HandleCreate">Publish New Event</button>
}else{
    <GenericCard TItem="Event">
        <HeaderTemplate>
            <h3>@(isNew ? "Create New Event" : "Edit Event")</h3>
        </HeaderTemplate>
        <ChildContent>
            <EventForm 
            Event="_event"
            IsNew="isNew"
            OnSubmit="
            HandleSubmit"
            OnCancel="HandleCancel"
            OnDelete="HandleDelete"/>
        </ChildContent>
    </GenericCard>
}

@code {
    private bool isNew = true;
    private bool showForm = false;
    private List<Event> events = new List<Event>{
        new Event {
            Id=1, 
            Name="Putte Bajsar i Parken 2025",
            Description="Putte Bajsar i Parken 2025: En unik festival där besökare kan uppleva den ultimata blandningen av musik, natur och... oväntad flatulens! Kom och se Putte göra det han gör bäst, mitt i vår vackra park. Glöm inte att ta med stövlar och näsklämma!",
            Start = DateTime.Parse("2025-06-17"),
            End=DateTime.Parse("2025-06-19"),
            MaxAttendees=500
        },
        new Event {
            Id=2, 
            Name="Kalle Anka's Underbara Byxlösa Äventyr 2026",
            Description="Kalle Anka's Underbara Byxlösa Äventyr 2026: En hisnande upplevelse där Kalle Anka tappar sina byxor och måste navigera genom Ankeborg helt exponerad! Följ med på en skrattfylld resa full av pinsamma situationer, kreativa gömställen och oväntade hjältar. Glöm inte att ta med en extra uppsättning byxor - man vet aldrig när Kalle kan behöva dem!",
            Start = DateTime.Parse("2026-07-01"),
            End=DateTime.Parse("2026-07-03"),
            MaxAttendees=1000
        }
    };
    private Event _event=new();

    private void HandleCreate(){
        _event = new Event{
            Start = DateTime.UtcNow,
            End = DateTime.UtcNow
        };
        isNew=true;
        showForm=true;
    }
    private void HandleEdit(int id){
        _event = events.Find(ev => ev.Id == id);
        isNew=false;
        showForm=true;
    }

    @* Add error handeling if fields are null and if End date preceeds start date and vice verse *@
    private void HandleSubmit(){
        if(isNew){
            events.Add(_event);
        }
        showForm = false;
    }

    private void HandleCancel(){
        showForm = false;
    }
    private void HandleDelete(int id){
        events.Remove(events.Find(ev => ev.Id == id));
        showForm = false;
    }
}
