@using EventManager.Client.Components.NavBars;
@using Microsoft.AspNetCore.Components.Authorization;
@inherits LayoutComponentBase

<CascadingAuthenticationState>

    <AuthorizeView>
        <Authorized>
            <AuthorizeView Context="auth" Roles="Admin">

                <AdminNavBar></AdminNavBar>

            </AuthorizeView>

            <AuthorizeView Context="auth" Roles="User">
                <UserNavBar></UserNavBar>
            </AuthorizeView>

        </Authorized>

        <NotAuthorized>
            <LoggedOutNavBar></LoggedOutNavBar>
        </NotAuthorized>

    </AuthorizeView>

	<div class="page">
		<main class="main">
			<div class="container">
				@Body
			</div>
		</main>
	</div>

</CascadingAuthenticationState>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>
