@inject CustomAuthenticationStateProvider AuthStateProvider;
@inject NavigationManager Navigation

<header class="top-row">
	<div class="nav-menu">

		<div class="nav-item">
			<NavLink href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
			</NavLink>
		</div>

		<div class="nav-item">
			<NavLink href="/login">
				<span class="bi bi-gear-fill" aria-hidden="true" >
					Login
				</span>
			</NavLink>
		</div>
	</div>
</header>

@code {

}

